.imageContainer {
    width: 100%;
}

.imageContainer>div {
    position: unset !important;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    overflow: hidden;
    transition: all 0.3s;


}

.image:hover {
    /* transform: scale(1.1) rotate(5deg); */

}
