.imageContainer {
    width: 100%;
}

.imageContainer>div {
    position: unset !important;
}

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    overflow: hidden;
    transition: all 0.3s;
    max-height: 750px;
}

.imageSmall {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    overflow: hidden;
    transition: all 0.3s;
    max-height: 375px;
}


.imageSmall:hover {
    transform: scale(1.1);
}

.image:hover {
    transform: scale(1.1);
}